<div class="server-resource-utilization-report">
  <title>Server Resource Utilization Report</title>
  <script nonce="{{webnonce}}" type="text/javascript" src="https://cdn.jsdelivr.net/npm/handlebars@4.7.7/dist/handlebars.min.js"></script>
  <script nonce="{{webnonce}}" type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js">
    var inputData = '{{ reportdata.header.0.dataMap }}'
    data = inputData.replace(/&quot;/g, '"')
    var data = JSON.parse(inputData)
    console.log(data)
  </script>
    <table class="resultsTable">
      <thead>
        <tr>
          <th>Account ID</th>
          <th>ID</th>
          <th>Name</th>
          <th>Used Storage</th>
          <th>Used CPU</th>
          <th>Used Memory</th>
        </tr>
      </thead>
      <tbody>
        {{#each rows}}
        <tr>
          <td>{{this.account_id}}</td>
          <td>{{this.id}}</td>
          <td>{{this.name}}</td>
          <td>{{this.usedStorage}}</td>
          <td>{{this.usedCpu}}</td>
          <td>{{this.usedMemory}}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>
</div>